[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Blur Network GUI Wallet
Comment=Blur: The Private Cryptocurrency
Exec=blur-wallet
Icon=${SNAP}/meta/gui/blur-wallet.png
Terminal=false
Categories=Internet
Hints=P2P

Name[en_US]=Blur Network GUI Wallet


